.register{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    position: absolute;
    top: 30px;
    right: 35px;
    background-color: white;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    a {
      text-decoration: none;
      color: black;
    }
  }

  .register-form{
    gap: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    width: 350px;
    input{
      padding: 5px 10px;
      font-size: 18px;
    }
    .submit{
      background-color: black;
      color: white;
    }
    p{
      font-size: 16px;
    }
  }
}