.cart {
  display: flex;
  margin: 0 10px;

  @media (max-width: 780px) {
    flex-direction: column;
  }

  h5 {
    border-bottom: 0.1px solid #f0f0f0;
    padding: 5px 0;
  }

  .left {
    flex: 4;
    margin: 10px;

    table {
      width: 100%;
      text-align: center;

      tr {
        th {
          font-size: 16px;
          font-weight: 700;
          padding: 10px 0;
          border-bottom: 1px solid #f0f0f0;
        }

        td {
          border-bottom: 1px solid #f0f0f0;
          padding: 20px 0;
          p {
            font-size: 14px;
            font-weight: 500;
          }

          .close {
            cursor: pointer;
          }
        }

        .quantity {
          text-align: center;
          align-content: center;

          .value {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            .arrow {
              cursor: pointer;
            }
          }
        }
      }
    }

    .image-box {
      display: flex;
      text-align: start;
      gap: 10px;
      padding-left: 20px;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  .right {
    flex: 2;
    padding: 20px;
    box-shadow: -4px -3px 13px -8px rgb(204 194 204 / 64%);
    border: 0.1px solid rgb(204 194 204 / 64%);

    h6 {
      margin-top: 20px;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      margin: 10px 0;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin: 10px 0;
      p {
        font-size: 15px;
        font-weight: 600;
      }
    }

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 25px 0;
      padding: 20px;
      background-color: black;
      color: white;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      .dot {
        height: 8px;
        width: 8px;
        font-size: 0px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
}


.empty{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
