.home {
  .home-banner {
    width: 100%;
    
    img {
      height: 600px;
    }

    @media (max-width: 780px) {
      img {
        height: 400px;
      }
    }
  }

  .fashion-grid {
    display: flex;
    gap: 10px;
    width: 90%;
    margin: 50px auto;
    @media (max-width: 780px) {
      flex-direction: column;
    }

    .left {
      flex: 1;
      img {
        height: 507px;
        width: 100%;
      }
    }

    .right {
      flex: 1;
      img {
        height: 250px;
        object-fit: cover;
        width: 100%;
      }
      .item {
        display: flex;
        gap: 5px;
        div {
          flex: 1;
          img {
            height: 250px;
            width: 100%;
          }
        }
      }
    }
  }
}
