.footer{
  .footer-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    background-color: #000;
    @media (max-width: 780px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
    ul{
      li{
        list-style: none;
        margin: 10px;
        a{
          text-decoration: none;
          color: #fff;
          
        }
      }
    }
    div{
      @media (max-width: 780px) {
        width: 400px;
        height: 300px;
        margin: auto;
      }
    }
  }
  .footer-bottom{
    text-align: center;
  }
}