.all-users{

  .users-table{
    width: 100%;
    text-align: center;

    overflow-x: scroll;

    .update{
      margin: 5px;
      cursor: pointer;
      color: #11115f;
      padding: 3px;
      border: 1px solid #11115f;
    }
    .delete{
      color: #820e0e;
      border: 1px solid #820e0e;
      margin: 5px;
      cursor: pointer;
      padding: 3px;
    }
  }
  
  img{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
  }
}