.header {
  position: sticky;
  top: 0;
  z-index: 1;
  .header-top {
    text-align: center;
    padding: 18px 0;
    color: #fff;
    background-color: #000;
    font-size: 12px;
    font-weight: 700;
    height: 50px;
  }

  .header-real {
    display: flex;
    height: 80px;
    padding: 0 2%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(234, 234, 234);
    
    .logo {
      font-size: 24px;
      font-weight: 700;
      color: rgb(159, 0, 0);
      text-transform: uppercase;
      flex: 1;
    }
    .search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(234, 234, 234);
      padding: 5px 10px;
      flex: 1;
      @media (max-width: 780px) {
        display: none;
      }
      input {
        border: none;
        background-color: rgb(234, 234, 234);
        min-width: 300px;
      }
    }
    .icon-boxes {
      display: flex;
      justify-content: center;
      flex: 1;
      @media (max-width: 780px) {
        justify-content: flex-end;
      }
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        text-decoration: none;
        gap: 10px;
        color: #000;
        .icon {
          height: 25px;
          width: 25px;
        }
        span {
          font-size: 12px;
          font-weight: 500;
          @media (max-width: 780px) {
            display: none;
          }
        }
      }
    }
  }

  .mega-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0;
    .nav-link {
      list-style: none;
      &:first-child {
        a {
          color: red;
          &:hover {
            color: #000;
          }
        }
      }
      a {
        padding: 5px;
        margin: 0 5px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
      }
    }
    .mega-link {
      a {
        &:hover {
          background-color: rgb(245, 245, 245);
          border-bottom: #000 solid 2px;
        }
      }
    }
  }
}
